*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #60C1E1
}

ul li{
    font-size: 20px;
}

.text h2{
    font-size: 4em;
}

.text span{
    font-size: 1.6em;
    color: var(--primary-color);
}

.text p{
    margin: 20px 0;
}

li a:hover{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
} 

@media(max-width: 575px){
    .circle{
        max-width: 400px;
    }

    .text h2{
        font-size: 3em;
    }

    .container-img img{
        width: 450px;
    }
}

@media(min-width:575px) and (max-width: 768px){
    .circle{
        max-width: 500px;
    }

    .text h2{
        font-size: 3.2em;
    }
    
    .container-img img{
        width: 500px;
    }
}

.circle{
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    right: 0;
    height: 100%;
    width: 1200px;
    clip-path: circle(50% at bottom right);
}

@media(min-width: 768px) and (max-width: 992px){
    .circle{
        width: 950px;
    }
}

.text{
    flex-basis: 60%;
}

